name: WDIO E2E Tests
env:
  BASE_URL: ${{ secrets.BASE_URL || 'https://practicesoftwaretesting.com/' }}
  run: |
    npx wdio run ./wdio.conf.ts --headless
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  ui-smoke:
    runs-on: ubuntu-latest
    
    env:
        CI: true
        HEADLESS: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run WDIO tests (headless)
        run: |
          xvfb-run --auto-servernum npm test

      - name: Generate Allure report
        if: always()
        run: npm run allure:generate

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
